.payment-history .search-box {
    background-color: #fff;
    box-shadow: none;
}
.payment-history .search-box .form-floating > .form-select {
    background-color: #f9f9f9;
}
.payment-history .search-box input {
    background-color: #f9f9f9;
}
.payment-history .search-box .search-icon {
    background-color: #f9f9f9;
}