.contact {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgb(76 87 125 / 2%);
}

.contact .title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #444;
    margin-bottom: 1rem;
}

.contact .btn-add {
    background-color: #2ecc71;
    border-radius: .5rem;
}

.contact .btn-add:hover {
    background-color: #27ae60 !important;
}

.table-box {
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 1.5rem;
}

.table {
    border: 1px solid #eee !important;
    text-align: right;
    border-radius: 0.65rem;
    border-spacing: 0;
    border-collapse: separate;
}

.table tbody tr:nth-child(odd) > * {
    background-color: #f9f9f9 !important;
}

.table tr, .table th, .table td {
    border: none;
    padding: .8rem !important;
}

.table th {
    font-weight: 600;
    font-size: .9rem;
}

.table td {
    font-size: .8rem;
}

.btn-record-contact {
    background-color: #db9b31 !important;
    width: 100%;
    color: #fff !important;;
    font-size: 1.1rem !important;;
    margin-top: 1rem;
}

.add-input-contact {
    background-color: #f9f9f9;
    margin: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn-delete-input {
    position: absolute;
    left: 16px;
    top: 14px;
    color: red;
    font-size: 1rem;
    cursor: pointer;
}

.tether-element {
    z-index: 100000;
}
.contact .search-box {
    background-color: #fff;
    box-shadow: none;
}
.contact .search-box .form-floating > .form-select {
    background-color: #f9f9f9;
}
.contact .search-box input {
    background-color: #f9f9f9;
}
.contact .search-box .search-icon {
    background-color: #f9f9f9;
}
