#root {
    background-color: #f9f9f9;
}

.floorAndUnit {}

.floorAndUnit .back-btn {
    display: flex;
    justify-content: end;
    padding-top: 10px;

}

.floorAndUnit .back-btn a {
    text-decoration: none;
    color: #676767;
}

.floorAndUnit .text {
    margin-top: 38px;
}

.floorAndUnit .text h4 {
    font-weight: bold;
    color: #555;
}


.floorAndUnit .text P {
    margin-top: 27px;
    width: 80%;
    color: #676767;
}

.floorAndUnit .edit-btn-container {
    display: flex;
    padding-left: 10px;
    margin-top: 50px;
    justify-content: end;
}

.floorAndUnit .register-btn-container {
    display: flex;
    padding-left: 10px;
    margin-top: 50px;
    justify-content: center;
}

.floorAndUnit .edit-btn-container .edit-btn {
    text-decoration: none;
    color: #000;
    background: #f1c40f;
    padding: 10px 34px;
    border-radius: 12px;
}



.floorAndUnit .register-btn-container .register-btn {
    text-decoration: none;
    color: #000;
    background: #2ecc71;
    padding: 15px 44px;
    border-radius: 12px;
}

.floorAndUnit .edit-btn-container h6 {
    margin: 0;
}

.floorAndUnit .floor-container {
    margin-top: 30px;
}

.floorAndUnit .floor-container .floor {
    background-color: #fff;
    margin: 4%;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    padding: 2%;
}

.floorAndUnit .floor-container .floor .floor-name {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
}
.floorAndUnit .floor-container .floor .show-acc-btn{
    border:none;
    font-size: 12px;
    color:#3498db ;
}
.floorAndUnit .floor-container .floor .show-acc-btn:hover {
    color: #2980b9 ;
}
.floorAndUnit .floor-container .floor .unit-container {
    margin: 25px 0;
}

.floorAndUnit .floor-container .floor .unit-container .unit {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.floorAndUnit .floor-container .floor .unit-container .unit a {
    border: 1px dashed #ddd;
    margin: 0.5rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    text-align: center;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.full-link {
    color: #F1416C;
    background-color: #FFEFF3;
}

.empty-link {
    color: #0e8c46;
    background-color: #f4fff8;
}

.floorAndUnit .floor-container .floor .unit-container .unit .unit-name {
    color: inherit;
    margin-top: 9px;
    font-size: 14px;
}

/* .floor {
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.floor .title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.floor .unit {
    background-color: #f5f8fa;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 14px;
} */