#root {
    background-color: #f9f9f9;
}


.floorAndUnit .back-btn {
    display: flex;
    justify-content: end;
    padding-top: .6rem;

}

.floorAndUnit .back-btn a {
    text-decoration: none;
    color: #676767;
}

.floorAndUnit .text {
    margin-top: 2.4rem;
}

.floorAndUnit .text h4 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #555;
}


.floorAndUnit .text P {
    margin-top: 2rem;
    color: #676767;
    text-align: justify;
    font-size: 1rem;
}

.floorAndUnit .edit-btn-container {
    display: flex;
    padding-left: .8rem;
    margin-top: 3rem;
    justify-content: end;
}

.floorAndUnit .register-btn-container {
    display: flex;
    padding-left: .8rem;
    margin-top: 3rem;
    justify-content: center;
}

.floorAndUnit .edit-btn-container .edit-btn {
    text-decoration: none;
    color: #000;
    background: #f1c40f;
    padding: .5rem 1rem;
    border-radius: .5rem;
}


.floorAndUnit .register-btn-container .register-btn {
    text-decoration: none;
    color: #000;
    background: #2ecc71;
    padding: 15px 44px;
    border-radius: 12px;
}

.floorAndUnit .edit-btn-container h6 {
    margin: 0;
}

.floorAndUnit .floor-container {
    margin-top: 30px;
}

.floorAndUnit .floor-container .floor {
    background-color: #fff;
    margin: 4%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(76 87 125 / 2%);
    padding: 2%;
}

.floorAndUnit .floor-container .floor .floor-name {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
}

.floorAndUnit .floor-container .floor .show-acc-btn {
    border: none;
    font-size: .8rem;
    color: #3498db;
}

.floorAndUnit .floor-container .floor .show-acc-btn:hover {
    color: #2980b9;
}

.floorAndUnit .floor-container .floor .unit-container {
    margin: 25px 0;
}

.floorAndUnit .floor-container .floor .unit-container .unit {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.floorAndUnit .floor-container .floor .unit-container .unit a {
    border: 1px dashed #ddd;
    margin: 0.5rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.full-link {
    color: #F1416C;
    background-color: #FFEFF3;
}

.empty-link {
    color: #0e8c46;
    background-color: #f4fff8;
}

.floorAndUnit .floor-container .floor .unit-container .unit .unit-name {
    color: inherit;
    margin-top: 9px;
    font-size: .9rem;
}
