/*Style Header */
.mainPage {
  width: 100%;
}

.header {
  width: 100%;
  background-color: #DB9B31;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.profile-img-container{
  width: 50px;
  height: 50px;
}

.profile-img{
  height: 100%;
  width: 100%;
  border-radius: 100%;
  object-fit: contain;
}
.none-btn{
  background-color: transparent;
  border:none;
}