@font-face {
    font-family: IranSans;
    src: url(../font/IranSans.ttf);
}

* {
    box-sizing: border-box;
    font-family: IranSans;
}

.container-login {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 75%;
    height: 80vh;
    margin: 10vh auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    background: url(../img/dorm.jpg) no-repeat;
    background-size: cover;
    border-radius: .6rem;
}

.container-login .left-side {
    width: 50%;
    height: 100%;
    background: linear-gradient(
            180deg,
            rgba(237, 182, 96, 0.9) 0%,
            rgba(179, 121, 37, 0.9) 100%
    );
    border-radius: 0 .6rem .6rem 0;
}

.container-login .left-side .title {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login .left-side .title h2 {
    font-size: 2rem;
    color: #000;
}

.container-login .left-side .form-container {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.left-side .form-container .login-form {
    width: 65%;
    height: 100%;
    padding: 1rem;
    background-color: white;
    border-radius: 1.25rem;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.left-side .form-container .login-form .title-form {
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
}

.left-side .form-container .login-form h3 {
    font-size: 1.2rem;
}

.left-side .form-container .login-form .input {
    width: 100%;
    height: 50px;
    border-radius: 1.25rem;
    margin-bottom: 4%;
    padding-right: .5rem;
    background-color: #e6e6e6;
    border: none;
}

.container-login .left-side .form-container .login-form .username {
    background-image: url(../img/user.png);
    background-position: 7px 10px;
    background-repeat: no-repeat;
    background-size: 25px 23px;
}

.container-login .left-side .form-container .login-form .password {
    background-image: url(../img/key.png);
    background-position: 7px 10px;
    background-repeat: no-repeat;
    background-size: 25px 23px;
}

.container-login .left-side .form-container .login-form .option-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 10%;
    margin-bottom: 10%;
}

.container-login .left-side .form-container .login-form .option-row .remember {

}

.container-login
.left-side
.form-container
.login-form
.option-row
.remember
.chk-remember {

}

.container-login .left-side .form-container .login-form .option-row .remember label {
    font-family: IranSans;
    color: #000;
    text-decoration: none;
    font-size: .7rem;
}

.container-login .left-side .form-container .login-form .option-row .forgot {
    font-family: IranSans;
    color: #000;
    text-decoration: none;
    font-size: .7rem;
}

.container-login .left-side .form-container .login-form .btn-login {
    width: 70%;
    height: 15%;
    font-family: IranSans;
    font-size: 1rem;
    border-radius: .6rem;
    border: none;
    cursor: pointer;
    background-color: #2980b9;
    color: #fff;
}

.container-login .right-side {
    width: 50%;
    height: 100%;
    background-color: rgba(236, 240, 241, 0.95);
    border-radius: .6rem 0 0 .6rem;
}

.container-login .right-side img {
    width: 100%;
    height: 100%;
}
  
