.register-container {
    display: flex;
    justify-content: center;
}

.register-container .progress-bar {}

.register-container .page-container {
    width: 80%;
    background-color: white;
    height: 100vh;
    border-radius: 10px;
}

.wrapperClass {
    background-color: blue;
}

.next-btn {
    text-decoration: none;
    width: 120px;
    text-align: center;
}

.previous-btn {
    text-decoration: none;
    width: 120px;
    text-align: center;

}