@font-face {
    font-family: IranSans;
    src: url(../font/IranSans.ttf);
}

* {
    box-sizing: border-box;
    font-family: IranSans;
}

.main-container {
    position: relative;
}

.main-page-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s linear;
}