.addTypeBtn {
    font-size: 0.875rem;
    padding: .6rem;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    border-top: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.addTypeBtn:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.date-container input {
    display: block;
    height: 50px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
}

.close-btn-div {
    position: absolute;
    top: 0;
    left: 0;
}

.third-section .uploadBtn {
    background-color: transparent;
    border: none;
    color: #86b7fe;
}

.third-section .uploadBtn:hover {
    color: #0c63e4;
}

.third-section .file-container {
    background-color: #fff;
    min-width: 35%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    justify-content: space-around;
}

.third-section .file-container h6 {
    margin-top: .6rem;
}

.third-section .deleteBtn {
    background-color: transparent;
    border: none;
    color: rgb(241 65 108);
}

.third-section .deleteBtn:hover {
    color: rgb(245, 40, 92);
}

.loading {
    display: flex;
    align-items: start;
    margin-right: .6rem;
}

.payment-box {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 20px 25px 0 rgb(170 179 217 / 20%);
    margin-bottom: 2rem;
}

.payment-box .title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #444;
    margin-bottom: 3rem;
}
.placeholder.placeholder-typePayment {
    z-index: 10;
    right: 16px;
    top: -5px;
    opacity: 1;
    color: #2a2e32b3;
}