.payment-history {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    font-size: 1rem;
    color: #404040;
    box-shadow: 0px 0px 20px 0px rgb(76 87 125 / 2%);
}
.payment-history .title {
    font-size: 1.1rem;
    font-weight: 600;
}
.payment-history .input-group-filter{
    position: relative;
    padding: .5rem;
}
.payment-history .input{
    padding: .6rem;
    height: 50px;
    border-radius: .5rem !important;
    outline: none;
    color: #2a2e32b3;
    background-color: #fff;
    border: 1px solid #bec6cc;
    width: 100%;
}
.payment-history .placeholder{
    position: absolute;
    top: 20px;
    right: 12px;
    font-size: .75rem;
    padding: 0px .25rem;
    color: #2b2f33;
    transition: 0.3s;
    pointer-events: none;
}
.payment-history label.placeholder {
    top: 0px;
    background-color: #fff;
    color: #2a2e32b3;
    padding: 0 .5rem;
    opacity: 1;
}
.payment-history .table-box {
    overflow-x: auto;
    white-space: nowrap;
}
.payment-history .table-box table {
    border-radius: 0.65rem;
    border-spacing: 0;
    border-collapse: separate;
}
.payment-history .table>:not(caption)>*>* {
    padding: 1rem !important;
}
.payment-history .btn-see {
    color: #000;
    text-decoration: none;
    border-radius: 0.5rem;
    background-color: #20d489;
    font-size: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    height: 50px;
}
.payment-history .btn-see:hover {
    background-color: #19b674 !important;
    color: #fff !important;
}
.buttonDone {
    background-color: #20d489 !important;
    color: black !important;
}
.buttonDone:hover {
    background-color: #19b674 !important;
    color: white !important;
}
.buttonDone:disabled {
    background-color: #e9ecef !important;
}
