.presence-absence {
    /*background-color: #fff;*/
    /*padding: 16px;*/
    /*border-radius: 8px;*/
    /*box-shadow: 0 20px 25px 0 rgb(170 179 217 / 20%);*/
}
.presence-absence .title-page {
    font-size: 18px;
    font-weight: 600;
    color: #444;
    margin-bottom: 16px;
}
.presence-absence .pa-floor {
    box-shadow: 0 20px 25px 0 #aab3d933;
    background-color: #fff;
    padding: 8px;
    border-radius: 8px;
    height: 100%;
}
.pa-floor .title {
    font-size: 14px;
    font-weight: 600;
    color: #444;
    margin-bottom: 8px;
    text-align: center;
}
.pa-floor .units-list {
    font-size: 14px;
    color: #404040;
    line-height: 24px;
    padding: 16px;
}
.pa-floor .units-list .units-list-item {
    cursor: pointer;
    color: #7E8299;
    padding: 6px 10px;
    border-radius: 8px;
    transition: .2s;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pa-floor .units-list .units-list-item:hover {
    background-color: #f5f8fa;
}
.pa-floor .units-list a {
    text-decoration: none;
    color: #7E8299;
}
.switch-group .btn {
    font-size: 12px;
}
.switch-group .btn-secondary,
.switch.btn.btn-secondary
{
    --bs-btn-color: #3f4254;
    --bs-btn-bg: #e4e6ef;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #3f4254;
    --bs-btn-hover-bg: #b5b5c3;
    min-height: 24px;
}
.switch-group .btn-success ,
.switch.btn.btn-success
{
    --bs-btn-color: #fff;
    --bs-btn-bg: #20d489;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #19b674;
    min-height: 24px;
}
.switch.btn {
    margin-right: 8px;
}
span.switch-off.btn.btn-secondary,
span.switch-on.btn.btn-success
{top: -3px;}