/* .profile-container {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
} */

.profile-image {
    margin-right: 5%;
    width: 100px;
    height: 100px;
}

.image-container {
    background-color: #fff;
    border-radius: 16px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.image-container img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.image-container>FiUser {
    margin-bottom: 10%;
}

/* .image-container > img {
    display: inline-block;
    float: right;
} */

.tab-container {
    background-color: #fff;
    border-radius: 16px;
    padding: 16px;
}

.information {
    /* display: inline-block;
    margin-right: 10%;
    margin-top: 5%; */
    font-size: 14px;
}

.information label,
.information svg {
    color: #7c7c7c;
}

.test {
    width: 40px;
}

.nav-tabs .nav-link {
    color: #000;
    font-size: 15px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #db9b31;
    border-color: #db9b31 !important;
}
.btn-add-report {
    border: none;
    text-align: right;
    width: fit-content;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
    font-size: 14px;
    background-color: #eee;
    color: #444;
}
.report-modal .modal-header .btn-close {
    margin: 0 !important;
}
.input-report-box {
    position: relative;
    padding: 8px;
}
.report-modal .input{
    padding: 10px;
    border-radius: 8px !important;
    outline: none;
    color: #2a2e32b3;
    background-color: #fff;
    border: 1px solid #bec6cc;
    width: 100%;
    text-align: center;
}
.report-modal .placeholder{
    position: absolute;
    top: 18px;
    right: 20px;
    font-size: 16px;
    padding: 0px 5px;
    color: #2b2f33;
    transition: 0.3s;
    pointer-events: none;
}
.report-modal label.placeholder {
    background-color: #fff;
    color: #2b2f33;
}
.report-modal .input:focus + .placeholder, .input:not(:placeholder-shown) +.placeholder{
    top: -8px;
    background-color: #fff;
    color: #2a2e32b3;
    padding: 0 6px;
    opacity: 1;
}
.report-modal button.btn-record-report {
    width: 100%;
    background-color: #0052cc;
    color: #fff;
}
.report-modal button.btn-record-report:hover {
    width: 100%;
    background-color: #1963d1;
    color: #fff;
}
.table {
    border: 1px solid #eee !important;
    border-radius: 0.5rem;
    text-align: right;
}
.table tbody tr:nth-child(odd)>* {
    background-color: #f9f9f9 !important;
}
.table tr,.table th,.table td {
    border: none;
}
.table th {
    font-weight: 600;
    font-size: 13px;
}
.table td {
    font-size: 14px;
}
.deleteTooltip > .tooltip-inner {
    background-color: #d7d7d7;
    color: #727272;
    border: 1px solid #d7d7d7;
}
.deleteTooltip > .tooltip-arrow::before {
   border-bottom: 5px solid #d7d7d7 !important;
}
.record-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f9f9f9;
    width: 125px;
    justify-content: center;
    padding: 8px;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    font-size: 14px;
}