.profile-image {
    margin-right: 5%;
    width: 100px;
    height: 100px;
}

.image-container {
    background-color: #fff;
    border-radius: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.image-container img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.image-container > FiUser {
    margin-bottom: 10%;
}

.tab-container {
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
}

.information {
    font-size: .8rem;
}

.information label,
.information svg {
    color: #7c7c7c;
    margin-left: 0.25rem;
}

.test {
    width: 40px;
}

.nav-tabs .nav-link {
    color: #000;
    font-size: 1rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #db9b31;
    border-color: #db9b31 !important;
}

.btn-add-report {
    border: none;
    text-align: right;
    width: fit-content;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    font-size: .8rem;
    background-color: #eee;
    color: #444;
}

.report-modal .modal-header .btn-close {
    margin: 0 !important;
}

.input-report-box {
    position: relative;
    padding: .5rem;
}

.report-modal .input {
    padding: .6rem;
    border-radius: .5rem !important;
    outline: none;
    color: #2a2e32b3;
    background-color: #fff;
    border: 1px solid #bec6cc;
    width: 100%;
    text-align: center;
}

.report-modal .placeholder {
    position: absolute;
    top: 18px;
    right: 20px;
    font-size: 1rem;
    padding: 0px .3rem;
    color: #2b2f33;
    transition: 0.3s;
    pointer-events: none;
}

.report-modal label.placeholder {
    background-color: #fff;
    color: #2b2f33;
}

.report-modal .input:focus + .placeholder, .input:not(:placeholder-shown) + .placeholder {
    top: -8px;
    background-color: #fff;
    color: #2a2e32b3;
    padding: 0 .4rem;
    opacity: 1;
}

.report-modal button.btn-record-report {
    width: 100%;
    background-color: #0052cc;
    color: #fff;
}

.report-modal button.btn-record-report:hover {
    width: 100%;
    background-color: #1963d1;
    color: #fff;
}

.table {
    border: 1px solid #eee !important;
    border-radius: 0.5rem;
    text-align: right;
}

.table tbody tr:nth-child(odd) > * {
    background-color: #f9f9f9 !important;
}

.table tr, .table th, .table td {
    border: none;
}

.table th {
    font-weight: 600;
    font-size: .8rem;
}

.table td {
    font-size: .8rem;
}

.deleteTooltip > .tooltip-inner {
    background-color: #d7d7d7;
    color: #727272;
    border: 1px solid #d7d7d7;
}

.deleteTooltip > .tooltip-arrow::before {
    border-bottom: .4rem solid #d7d7d7 !important;
}

.record-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f9f9f9;
    width: 125px;
    justify-content: center;
    padding: .5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    font-size: .8rem;
    box-shadow: 0 0 2px 0 #0000005e;
    cursor: pointer;
}

.accordion-body {
    overflow-x: scroll;
    white-space: nowrap;
}


.profile-card {
    background-color: #fff;
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;
}

ul.nav.nav-tabs {
    background-color: #fff;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem;
}

.tab {
    margin-left: 0;
}

.tabs-content {
    background-color: #fff;
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 20px 0px #4c577d05;
}

.profile-card img {
    width: 160px;
    height: 160px;
    border-radius: 100%;
}

.profile-card .people-name {
    font-size: 1.4rem;
    font-weight: bold;
}

.profile-card .people-item {
    font-size: .9rem;
    color: #7c7c7c;
    margin-left: 1rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-weight: bold;
}

.more-info-item {
    border: 1px dashed #eee;
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: .8rem;
}