.register-container {
    display: flex;
    justify-content: center;
}

.typeofResident {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 400px;
    font-size: 1rem;
    padding-top: 2rem;
    margin-top: 3rem;
    direction: rtl;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0px 0px 20px 0px rgb(76 87 125 / 2%);
}

.typeofResident h5 {
    font-weight: bold;
    font-size: 1.2rem;
}

.next-btn {
    text-decoration: none;
    width: 120px;
    text-align: center;
    color: #000;
    background-color: #DB9B31 !important;
    border: none !important;
}

.next-btn:hover {
    color: #000 !important;
}

.previous-btn {
    text-decoration: none;
    width: 120px;
    text-align: center;
    color: #DB9B31 !important;
}

.previous-btn:hover {
    color: #000 !important;
    background-color: #f3c885 !important;;
}

.register-step-box {
    background-color: #fff;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 20px 0px rgb(76 87 125 / 2%);
    width: 100%;
    direction: rtl;
}

.register-step-box h2 {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.input-group-register {
    position: relative;
    padding: .5rem;
    margin-bottom: 0.5rem;
}

.input {
    padding: .6rem;
    height: 50px;
    border-radius: .5rem !important;
    outline: none;
    color: #2a2e32b3;
    background-color: #fff;
    border: 1px solid #bec6cc;
    width: 100%;
}

.placeholder {
    position: absolute;
    top: 20px;
    right: 12px;
    font-size: .9rem;
    padding: 0 .3rem;
    color: #2b2f33;
    transition: 0.3s;
    pointer-events: none;
}

label.placeholder {
    background-color: #fff;
    color: #2b2f33;
}

.input:focus + .placeholder, .input:not(:placeholder-shown) + .placeholder {
    top: -5px;
    background-color: #fff;
    color: #2a2e32b3;
    padding: 0 .4rem;
    opacity: 1;
}

._1hzhf {
    font-size: .9rem;
    width: 100%;
}

.guest-text {
    font-weight: bold;
}

.radio-container {
    display: block;
    position: relative;
    padding-right: 3rem;
    margin-bottom: .6rem;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    direction: rtl
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
    background-color: #DB9B31;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

._53Ji7 {
    padding: 0 1rem;
}

._3uApM {
    padding: 0 2rem 2rem 2rem;
}
ul._1Lo2h {
    flex-direction: row-reverse;
}
._2Jtxm::before {
    left: 50%;
}
._3uApM {
    flex-direction: row-reverse;
}



.modal-done .icon {
    position: relative;
    margin: 0 auto;
    margin-top: -75px;
    background: #4caf50;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.modal-done .icon span {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}
.modal-done .glyphicon {
    position: relative;
    top: 2px;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 21px;
}
.modal-done .glyphicon-ok:before {
    content: "\2713";
}
.modal-done .title-modal-done {
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0;
}
.modal-done .button-show,.modal-done .button-show:hover {
    background-color: #e8fff3 !important;
    color: #50cd89 !important;;
    font-size: 1.2rem;
}

.modal-done .button-close,.modal-done .button-close:hover {
    background-color: #f5f8fa !important;;
    color: #7e8299 !important;;
    font-size: 1.2rem;
}

.modal-done .button-selectBed,.modal-done .button-selectBed:hover {
    background-color: #f1faff !important;;
    color: #009ef7 !important;;
    font-size: 1.2rem;
}

.register-step-box .search-box {
    background-color: #fff;
    box-shadow: none;
}
.register-step-box .search-box .form-floating > .form-select {
    background-color: #f9f9f9;
}
.register-step-box .search-box input {
    background-color: #f9f9f9;
}
.register-step-box .search-box .search-icon {
    background-color: #f9f9f9;
}



@media (max-width: 768px) {
    .typeofResident {
        width: 100%;
    }

    ._1hzhf {
        font-size: .8rem;
    }

    ._53Ji7 {
        padding: 0;
    }
}