.register-container {
    display: flex;
    justify-content: center;
}
.typeofResident {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 400px;
    font-size: 18px;
    padding-top:20px;
    margin-top: 50px;
    direction: rtl;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 30px 50px 0 rgb(170 179 217 / 20%);
}
.typeofResident h5{
    font-weight: bold;
    font-size: 22px;
}
.next-btn {
    text-decoration: none;
    width: 120px;
    text-align: center;
    color:#000;
    background-color: #DB9B31 !important;
    border:none !important;
}
.next-btn:hover{
    color: #000 !important;
}
.previous-btn {
    text-decoration: none;
    width: 120px;
    text-align: center;
    color: #DB9B31 !important;
}
.previous-btn:hover{
    color: #000 !important;
    background-color: #f3c885 !important; ;
}

.register-step-box {
    background-color: #fff;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px 0 #4c577d05;
    direction: rtl;
}

.register-step-box h2 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 2rem;
}

.input-group-register{
    position: relative;
    padding: 8px;
}
.input{
    padding: 10px;
    height: 50px;
    border-radius: 8px !important;
    outline: none;
    color: #2a2e32b3;
    background-color: #fff;
    border: 1px solid #bec6cc;
    width: 100%;
}
.placeholder{
    position: absolute;
    top: 20px;
    right: 12px;
    font-size: 14px;
    padding: 0px 5px;
    color: #2b2f33;
    transition: 0.3s;
    pointer-events: none;
}
label.placeholder {
    background-color: #fff;
    color: #2b2f33;
}
.input:focus + .placeholder, .input:not(:placeholder-shown) +.placeholder{
    top: -5px;
    background-color: #fff;
    color: #2a2e32b3;
    padding: 0 6px;
    opacity: 1;
}
._1hzhf {
    font-size: 14px;
    width: 100%;
}
.guest-text{
    font-weight: bold;
}
.radio-container {
    display: block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    direction:rtl
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
    background-color: #DB9B31;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}