.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    color: #db9b31;
}
.btn-done {
    color: #000;
    text-decoration: none;
    border-radius: 0.5rem;
    background-color: #20d489;
    font-size: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    border: none;
}

.btn-done:hover {
    background-color: #19b674;
    color: #fff;
    box-shadow: none;
}

.btn-done.disabled, .btn-done:disabled,.btn-done:disabled .btn {
    background-color: #20d489;
}

.btn-reject {
    color: #000;
    text-decoration: none;
    border-radius: 0.5rem;
    background-color: #f1416c;
    font-size: 16px;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    border: none;
}
.btn-reject:hover {
    background-color: #d9214e;
    color: #fff;
    box-shadow: none;
}

.btn-reject.disabled, .btn-reject:disabled,.btn-reject:disabled .btn {
    background-color: #f1416c;
}

.btn-unknown {
    color: #000;
    background-color: #E4E6EF;
    text-decoration: none;
    border-radius: 0.5rem;
    font-size: 16px;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    border: none;
}
.btn-unknown:hover {
    background-color: #b5b5c3;
    box-shadow: none;
}

.btn-unknown.disabled, .btn-unknown:disabled,.btn-unknown:disabled .btn {
    background-color: #E4E6EF;
}
.container {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    box-shadow: none;
    background: none;
}
.request-item {
    font-size: .8rem;
}
.request-item label {
    font-size: 1rem;
}