.unitContainer {
    background-image: none;
}

.unitContainer .back-btn {
    display: flex;
    justify-content: end;
    padding-top: .6rem;

}

.unitContainer .back-btn a {
    text-decoration: none;
    color: #676767;
}

.unitContainer .text {
    margin-top: 2.4rem;
}

.unitContainer .text h4 {
    font-weight: bold;
    color: #555;
}


.unitContainer .text P {
    margin-top: 2rem;
    text-align: justify;
    font-size: 1rem;
    color: #676767;
}

.unitContainer .edit-btn-container {
    display: flex;
    padding-left: .6rem;
    margin-top: 3rem;
    justify-content: end;
}

.unitContainer .register-btn-container {
    display: flex;
    padding-left: .8rem;
    margin-top: 3rem;
    justify-content: center;
}

.unitContainer .edit-btn-container .edit-btn {
    text-decoration: none;
    color: #000;
    background: #f1c40f;
    padding: .8rem 2rem;
    border-radius: 12px;
}


.unitContainer .register-btn-container .register-btn {
    text-decoration: none;
    color: #000;
    background: #2ecc71;
    padding: 1rem 2.5rem;
    border-radius: .7rem;
}

.unitContainer .unit-name {
    margin: 3rem 2.4rem 2.6rem 0;
}

.unitContainer .unit-name .unit-title {
    margin-right: .8rem;
    font-size: 1.6rem;
    color: #555;

}

.unitContainer .unit-name .show-acc-btn {
    border: none;
    margin-top: .8rem;
    font-size: .8rem;
    color: #3498db;
}

.unitContainer .unit-name .show-acc-btn:hover {
    color: #2980b9;
    font-size: 1rem;
    font-weight: bold;
}

.room-box {
    background-color: #fff;
    margin: 4%;
    padding: 2%;
    border-radius: .6rem;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
}

.room-box .title {
    margin-top: .6rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.room-box .show-acc-btn {
    border: none;
    font-size: .8rem;
    color: #3498db;
}

.room-box .show-acc-btn:hover {
    color: #2980b9 !important;
}

.bed-box {
    border: 1px dashed #ddd;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bed-box.full {
    color: #F1416C;
    background-color: #FFEFF3;
}

.bed-box.empty {
    color: #0e8c46;
    background-color: #f4fff8;
}

.bed-box.full button.btn.btn-primary {
    color: #f1416c;
}

.bed-box.empty button.btn.btn-primary {
    color: #0e8c46;
}

.bed-box .title {
    font-size: .9rem;
    font-weight: normal;
    margin: .6rem 0;
}

.room-box a {
    color: inherit;
    text-decoration: none;
}


button.btn.btn-primary {
    padding: 0;
    background-color: transparent;
    color: #000;
    border: none;
}

button.btn.btn-primary:hover {
    padding: 0;
    background-color: transparent;
    color: #000;
    border: none;
}

.modal-header .btn-close {
    margin-left: 0;
}

.modal-header {
    border: none !important;
}

.modal-header .btn-close {
    margin: 0 !important;
}

.accessory-box {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: .8rem;
}

/* FullViewOfBed */
.profile-box {
    background-color: #fff;
    margin: 2rem;
    padding: 1rem;
    max-width: 500px;
    width: 500px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile-box img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.profile-box .name {
    margin: 2rem 0 1rem 0;
    font-size: 1.4rem;
    color: #3F4254;
}

.profile-box .profile-item {
    font-size: .8rem;
    font-weight: 500;
    margin: .25rem 0;
    color: #555760;
}
._4GdcU {
    white-space: pre-wrap !important;
}

.search-container-popup .search-box {
    background-color: #fff;
    box-shadow: none;
}
.search-container-popup .search-box .form-floating > .form-select {
    background-color: #f9f9f9;
}
.search-container-popup .search-box input {
    background-color: #f9f9f9;
}
.search-container-popup .search-box .search-icon {
    background-color: #f9f9f9;
}
.search-container-popup select#floatingSelect1 {
    border-radius: 0;
}