.search-container {
    display: flex;
    text-align: left;
    background-color: #fff;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px 0 #4c577d05;
}

.search-container>div {
    display: flex;
}

.search-logo {
    /*margin-left: 20px;*/
}

.search-container>div>button {
    float: left;
    animation: fadeIn 0.5s;
    /*border: none;*/
    border-radius: 10px;
    background-color: transparent;
    margin-right: 1%;
}

.search-container>div>input {
    width: 100%;
    height: 40px;
}

.search-container>div>Accordion {
    width: 10%;
}

.account-found-link {
    color: #000;
    text-decoration: none;
}

.account-found-link:hover {
    color: rgb(94, 94, 94);
    text-decoration: none;
}

.account-found {
    justify-content: right;
    align-items: center;
    border-radius: 8px;
    padding: 16px;
    margin-top: 16px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #4c577d05;
}
.search-container input {
    max-width: 200px;
}
.account-found>FiUser {}