.text{
    margin-bottom: 3rem;
}

.upload-container {
    background-color: #fff;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px 0 #4c577d05;
    direction: rtl;
}

.upload-container-title h5{
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: .6rem;
}

.upload-container-title p{
    font-size: .8rem;
    margin-top: 1rem;
    color: #F1416C;
}
.upload-logo-container {
    background-color: #f2f6ff;
    opacity: 1;
    border-radius: 1rem;
    border: 1px dashed #3483E2;
    text-align: center;
}

.upload-icon {
    width: 100%;
    margin-top: 3rem;
}

.pdf-icon {
    width: 2rem;
    margin-left: 2%;
}

.png-icon {
    width: 30px;
    margin-left: 2%;
}


.inputs {
    margin-left: 2%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 1.1rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: .6rem;
}

.tab {
    margin-left: 2%;
}
.upload-title span{
    align-items: center;
    font-size: .8rem;
    color: #676767;
}
.file-container{

    margin-top: .6rem;
    background-color: #f9f9f9;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: .6rem;
    box-shadow: 0 0 3px  rgba(0, 0, 0, 0.25);
    justify-content: space-around;
}
.file-container h6{
    margin-top: .6rem;
}
.deleteBtn{
    background-color: transparent;
    border:none;
    color: rgb(241 65 108);
}

